*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

#circle{
    background-color: blueviolet;
    margin: 200px;
    padding: 100px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    width: 200px;
    height: 200px;
    transform: cubic-bezier(0.075, 0.82, 0.165, 1)3s;
    color: white;
    justify-content: center;
}

.hover{
    transform: scale(2);
}