*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed{
    display: none;
}

.open{
    display: none;
}

.speak{
    display: none;
}
.active{
    display: block;
}